{% extends 'layout/layout.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}

	<h1>Projects</h1>

	<p>
		<a class='btn btn-success' href='{{ path('project_add') }}'>Add project</a>
	</p>

	{% if projects %}
		<table class='table table-hover table-condensed table-striped'>
			<tr>
				<th>#</th>
				<th>Id</th>
				<th>Name</th>
				<th></th>
			</tr>
			{% for p in projects %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ p.projectsid }}</td>
					<td>{{ p.name }}</td>
					<td>
						<a href='{{ path('project_edit', {'project_sid':p.projectsid}) }}'>Edit</a>
						<form class='form-inline form-delete' action='{{ path('project_delete', {'project_sid':p.projectsid}) }}' method='post'>
							<button class='btn btn-danger btn-xs'>Delete</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</table>
		{% else %}
			No projects
	{% endif %}

<script type='text/javascript'>
	$(document).ready(function(){
		$('form.form-delete').submit(function(e){
			if(!confirm("Delete project ?")) {
				e.preventDefault();
			}
		});
	});
</script>

{% endblock %}
